<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="~{normal/base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">This is home Page</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-11 ml-5">
                    <div class="card">
                        <div class="card-header text-center">
                            <h1>Your Contacts List</h1>
                        </div>
            
                        <div class="card-body">

                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr th:each="c : ${contacts}">
                                    <th th:text="'SCM'+${c.id}" scope="row"></th>
                                    <td>
                                        <img class="my_profile_picture rounded-circle" th:src="@{'/img/'+${c.imageUrl}}" alt="profile photo">
                                        <span th:text="${c.firstName}+' '+${c.lastName}"></span>
                                    </td>
                                    <td th:text="${c.phone}"></td>

                                    <td>
                                        <a th:href="@{'/user/'+${c.id}+'/contact'}">
                                            <span th:text="${c.email}"></span>
                                        </a>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                        <button class="btn btn-warning btn-sm">Update</button>
                                        <button th:href="@{'/user/'+${c.id}+'/contact'}" type="button" class="btn btn-success btn-sm">View</button>
                                    </td>

                                  </tr>
                                </tbody>
                            </table>

                            <h3 th:if="${totalPages==0}" class="text-center"><a th:href="@{/user/add_contact}"> <i class="fas fa-pencil-alt fa-beat"></i> Click Here to Add Contact to View</a></h3>
                        </div>

                        <div class="card-footer">
                            <nav aria-label="Page navigation example">
                                <ul th:if="${totalPages>0}" class="pagination justify-content-center">
                                    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show_contacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
                                    <li th:classappend="${currentPage==i-1 ? 'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show_contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                                    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show_contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>